table {
    width: 100%;
    margin-top: 20px;
}

table  th {
    background: rgb(245,245,245);
}

table td, th {
    padding: 15px;
}

table td {
    border-bottom: solid 1px rgb(230,230, 230);
}

form {
    width: 50%;
    display: flex;
    flex-flow: column;
}
input, select {
    margin-bottom: 10px !important;
}